In [11]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import pickle

In [12]:
df = pd.read_csv('dados/casas.csv')

In [13]:
df.head()

   tamanho   ano  garagem   preco
0    159.0  2003        2  208500
1    117.0  1976        2  181500
2    166.0  2001        2  223500
3    160.0  1915        3  140000
4    204.0  2000        3  250000

In [14]:
X = df.drop('preco', axis = 1)
y = df['preco']

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 42)

In [16]:
X_train.head()

      tamanho   ano  garagem
135     156.0  1970        2
1452    100.0  2005        2
762     144.0  2009        2
932     177.0  2006        3
435     154.0  1996        2

In [17]:
modelo = LinearRegression()
modelo.fit(X, y)

LinearRegression()

In [18]:
a = round(modelo.intercept_, 2)
x1 = round(modelo.coef_[0], 2)
x2 = round(modelo.coef_[1])
x3 = round(modelo.coef_[2])

print(f'Equação do modelo: y = {a} + {x1} * tamanho + {x2} * ano + {x3} * garagem')

Equação do modelo: y = -1495806.06 + 883.89 * tamanho + 766 * ano + 24446 * garagem

In [19]:
modelo.predict([[120, 2002, 2]])[0]

C:\Users\matheus_pfeifer\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

191760.1493125793

In [21]:
# Salvando o arquivo em disco
pickle.dump(modelo, open('modelo.sav', 'wb'))

In [20]:
{
    "tamanho": 120,
    "ano": 2002,
    "garagem": 2
}

{'tamanho': 120, 'ano': 2002, 'garagem': 2}